key: mykey
secret: mysecret
passphrase: mypassphrase
live: no
frontend: curses
products:
  - id: BTC-USD
    periods: [60, 5]
    strategy: macd
    trade: yes
  - id: ETH-USD
    periods: [60, 5]
    strategy: macd
    trade: yes
  - id: LTC-USD
    periods: [60, 5]
    strategy: macd
    trade: yes
  - id: ETH-BTC
    periods: [60, 5]
    strategy: macd
    trade: yes
  - id: LTC-BTC
    periods: [60, 5]
    strategy: macd
    trade: yes